input {
  appearance: none;
  position: relative;
  width: 200px;
  height: 75px;
  border-radius: 250px;
  background-color: grey;
  outline: none;
  cursor: pointer;
}

input::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: rgb(255, 255, 255);
  transition: left 0.3s;
}

input:checked {
  background-color: green;
}

input:checked::after {
  left: 80%;
}
