#whole-app {
  display: flex;
  flex-direction: row;
}

#left-button {
  background-color: silver;
  height: 90px;
  width: 2px;
  margin-top: 80px;
}

#right-button {
  background-color: silver;
  height: 50px;
  width: 2px;
  margin-top: 150px;
}

#phone-body {
  background-color: black;
  height: 550px;
  width: 275px;
  border-top-left-radius: 55px 45px;
  border-top-right-radius: 55px 45px;
  border-bottom-right-radius: 55px 45px;
  border-bottom-left-radius: 55px 45px;
  border: rgb(220, 218, 218) 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#screen {
  background-color: white;
  height: 450px;
  width: 265px;
}

#logo {
  color: silver;
  margin: 0px;
  padding: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

#accessories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  margin-top: -50px;
  padding: 0px;
}

.camera {
  background-color: rgb(74, 71, 71);
  border-radius: 100%;
  height: 7px;
  width: 7px;
  margin: 5px;
}

#speaker {
  background-color: silver;
  /* border: rgb(237, 235, 235) 1px solid; */
  width: 50px;
  height: 5px;
  margin: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: inset grey 1px 5px 2px;
}

.hole {
  background-color: black;
  height: 2px;
  width: 2px;
  border-radius: 100%;
  margin: 1px;
}

#mountain {
  width: 100px;
  height: 100px;
}

.dial {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
