#whole-app {
  display: flex;
  flex-direction: row;
}

#left-button {
  background-color: silver;
  height: 90px;
  width: 2px;
  margin-top: 80px;
}

#right-button {
  background-color: silver;
  height: 50px;
  width: 2px;
  margin-top: 150px;
}

#phone-body {
  background-color: black;
  height: 550px;
  width: 275px;
  border-top-left-radius: 55px 45px;
  border-top-right-radius: 55px 45px;
  border-bottom-right-radius: 55px 45px;
  border-bottom-left-radius: 55px 45px;
  border: rgb(220, 218, 218) 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#screen {
  background-color: white;
  height: 450px;
  width: 265px;
}
