.forecast {
  border: none;
  box-shadow: 2px 0px 10px grey;
  background-color: rgba(255, 255, 255, 0.527);
  border-radius: 30px;
  margin: 10px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -50px;
}

.day {
  font-size: 12px;
  font-weight: bold;
  padding: 2px;
  padding-top: 5px;
  margin: 0px;
}

.forecast-icon {
  padding: 5px;
  width: 45px;
}

.temp {
  padding: 3px;
  margin: 0px;
  font-weight: lighter;
}
